<footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Quick links</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from  January 21 &mdash; 25, 2021</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, Orchard Towers, Singapore</li>
              <li class="phone"><a href="tel://23923929210">+65 66518128</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Login Modal -->
  <div class="modal" id="login">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content form-wrapper">
        <div class="close-box" data-dismiss="modal">
          <i class="icon icon-times icon-2x"></i>
        </div>
        <div class="container-fluid">
          <form action="{{route('login')}}" method="post" id="LoginForm">
            <div class="form-group text-center">
              <h4>Register or Login</h4>
              <h6>Register or sign in with your email address</h6>
            </div>
            <div class="form-group" style="position: relative;">
              <label for="l_email">Email address</label>
              <input type="email" id="l_email" class="form-control mb-1" placeholder="" required>
            </div>

            <div class="form-group pt-2">
              <button class="btn btn-primary form-control">Continue</button>
            </div>
            <div class="form-group text-center pt-2 social-login">
              <h6>&mdash; OR &mdash;</h6>
              <div>
                
                <button class="btn btn-secondary form-control border-outline" style="margin-bottom: 12px !important;"><a href="/auth/google" class="google" style="color: #25262a;"> <i class="icon mr-4 icon-google-plus"></i>Continue with Google</a></button>
              </div>
              <div>
                
                <button class="btn btn-secondary form-control border-outline" style="margin-bottom: 12px !important;"><a href="/auth/facebook" class="facebook" style="color: #25262a;"> <i class="icon mr-4 icon-facebook"></i>Continue with Facebook </a></button>
              </div>
              <div>
                
                <button class="btn btn-secondary form-control border-outline" style="margin-bottom: 12px !important;"><a href="#" class="apple" style="color: #25262a;"> <i class="icon mr-4 icon-apple"></i>Continue with Apple</a></button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>