<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-1 text-center">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Shoppes</a>
            </div>
          </div>
          
          <div class="col-6 col-md-4 order-2 order-md-2 site-search-icon text-left">
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input type="text" class="form-control" placeholder="Search for items" style="border: 2px solid #222; border-width: 2px; border-color: #222; border-radius: 20px;">
              <!-- <input type="submit" class="btn btn-sm btn-primary" value=""> -->
            </form>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li><% if (!user) { %> 
                  <a href="#login" data-toggle="modal"><span class="icon icon-person">Login</span></a></a>
              </li>
                <% } else { %>
                  <li class="has-children">
                    <a href="/account"><%= user.fname %>
                    <ul class="dropdown">
                      <li><a href="/account">Profile</a></li>
                      <li><a href="/myshop">My Shop</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                <% } %>

                <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                <li>
                  <a href="cart.html" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">2</span>
                  </a>
                </li> 
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div> 
          </div>

        </div>
      </div>
    </div> 
  </header>