<style>
  /* Mega Menu */
    ul{
    margin:0;
    padding:0;
    list-style-type:none;
  }

  .nav{
    display:flex;
    position:relative;
  }
  .nav a{
    display:block;
    text-decoration: none;
  }
  .nav > li > a{
    padding:4px 10px;
  }
  .nav > li{
    position:relative;
  }
  .nav > li > ul{
    /* display:none; */
    background:rgba(0,0,0,0.1);
    position:absolute;
    top:100%;
    left:0;
    opacity:0;
    visibility: hidden;
  }
  .nav > li > ul > li{
    
  }
  .nav > li > ul > li > a{
    padding:4px 10px;
  }
  .nav > li > ul > li > a:hover{
    background-color:rgba(0,0,0,0.15);
  }
  .nav > li:hover > ul{
     /* display:block; */
    opacity:1;
    visibility: visible;
  }

  /* Hover Navbar */
  .nav > li > a:hover{
    
  }
  .nav .big-nav{
    position:static;
  }
  .nav .big-nav > ul{
    min-height:400px;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:rgb(255, 255, 255);
  }
  .nav .big-nav > ul > li{
    width:25%;
    /* position:relative; */
  }
  
  /* Left Category */
  .nav .big-nav > ul > li > a{
    width: 100%;
    padding:10px;
    background:rgb(222, 184, 135, 0.3);
    display:block;
    
  }
  .nav .big-nav > ul > li > ul{
    display:none;
    position:absolute;
    top:0;
    left:25%;
    width:75%;
    background:rgba(255, 255, 255, 0.1);
  }

  .nav .big-nav > ul > li.show > ul{
    display:block;
  }

  .nav .big-nav > ul > li > ul > li{
    display:block;
    width:100%;
    float:left;
  }
  .nav .big-nav > ul > li > ul > li.col3{
    width:33.3334%;
    padding:0 10px;
  }
  .nav .big-nav > ul > li > ul > li > a{
    font-weight:bold;
    border-bottom:1px solid #333;
  }
  .nav .big-nav > ul > li > ul > li a{
    padding:4px 10px;
  }

  .nav .big-nav > ul > li > ul > li > ul > li > a:hover {
    text-decoration: underline;
  }
  
  /* for searchbox and results */
  .searchdropdown {
    position: absolute;
    z-index: 1000;
    top: 100%;
    width: 100%;
  }
  .searchdropdown .result {
    width: 100%;
    padding: 4px;
    background-color: #f5f7fa;
    border-left: 1px solid #e6e9ed;
    border-right: 1px solid #e6e9ed;
    cursor: pointer;
  }
  .searchdropdown .result:last-child {
    border-bottom: 1px solid #e6e9ed;
  }
  .searchdropdown .result:hover, .searchdropdown .result.selected {
    background-color: #37bc9b;
  }
  
</style>

<script src="/js/jquery-3.3.1.min.js"></script>

<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-1 text-center">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Shoppes</a>
            </div>
          </div>
          
          <div class="col-6 col-md-4 order-2 order-md-2 site-search-icon text-left">
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input type="text" id="searchbox" class="form-control" placeholder="Search for items" style="border: 2px solid #222; border-width: 2px; border-color: #222; border-radius: 20px;">
              <div class="searchdropdown"></div>
              <!-- <input type="submit" class="btn btn-sm btn-primary" value=""> -->
            </form>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li><% if (!user) { %> 
                  <a href="#loginModal" data-toggle="modal"><span class="icon icon-person">Login</span></a></a>
              </li>
                <% } else { %>
                  <li class="has-children">
                    <a href="/account"><%= user.fname %>
                    <ul class="dropdown">
                      <li><a href="/account">Profile</a></li>
                      <li><a href="/myshop">My Shop</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                <% } %>

                <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                <li>
                  <a href="cart.html" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">2</span>
                  </a>
                </li> 
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div> 
          </div>

        </div>
      </div>
    </div> 
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block nav">
          <li class="big-nav"><a href="#">Fashion</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          <li class="big-nav"><a href="#">Home & Living</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          <li class="big-nav"><a href="#">Art & Design</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          <li class="big-nav"><a href="#">Tools & Supplies</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          <li class="big-nav"><a href="#">Food & Party</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          <li class="big-nav"><a href="#">Vintage</a>
            <ul>
              <li class="show"><a href="#">Category 1</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 1.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 1.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 2</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 2.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 2.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 3</a>
                <ul>
                  <li class="col3"><a href="#">Sub Category 3.1</a>
                    <ul>
                      <li><a href="#">Product 1</a></li>
                      <li><a href="#">Product 2</a></li>
                      <li><a href="#">Product 3</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.2</a>
                    <ul>
                      <li><a href="#">Product 4</a></li>
                      <li><a href="#">Product 5</a></li>
                      <li><a href="#">Product 6</a></li>
                    </ul>
                  </li>
                  <li class="col3"><a href="#">Sub Category 3.3</a>
                    <ul>
                      <li><a href="#">Product 7</a></li>
                      <li><a href="#">Product 8</a></li>
                      <li><a href="#">Product 9</a></li>
                      <li><a href="#">Product 10</a></li>
                      <li><a href="#">Product 11</a></li>
                      <li><a href="#">Product 12</a></li>
                      <li><a href="#">Product 13</a></li>
                      <li><a href="#">Product 14</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Category 4</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>

  <script>
    // Searchbar
    // const $search = document.querySelector("#searchbox");
    // const $result = document.querySelector("#searchresults");
    // const typeHandler = function(e) {
    //   // $result.innerHTML = e.target.value;
    //   // console.log($search);

    //   $.ajax({
    //   url: "/query",
    //   type: "PUT",
    //   cache: false,
    //   data: {"query": e.target.value},
    //   success: function(values) {
    //       console.log(values)
    //       // var data = values.aggregate.auto_complete.buckets
    //       var _ = []

    //       $.each(values, (index, value) => {
    //         _.push(value.key)
    //       });

    //       // $("#search").autocomplete({
    //       //   search: _
    //       // });

    //     },
    //     error: function (error) {
    //       console.log(error)
    //     }
    //   })
    // }

    // $search.addEventListener("input", typeHandler); // Register event for OnInput
    // $search.addEventListener("propertychange", typeHandler); // for IE8

    var settings = {
      maxShownResults: 5, //Show no more than this many results

      generated: {
          // Don't touch these
          lock: false,
          original: "",
          shown: 0,
          selected: -1,
          results: []
      }
    };

    $("#searchbox").keyup(function(e) {
      if ($(this).val() == "") { //If there is nothing in the search box then ensure no suggestions are showed
        $(".searchdropdown").html("");
      }
      switch (e.keyCode) {
          case 38: //up
            settings.generated.selected = Math.max(
                -1,
                settings.generated.selected - 1
            );//take 1 but make sure it doesn't go below -1 (none selected)
            
            ShowSelected(); //Show the selection highlight and put text into the searchbar
            break;
          case 40: //down
            settings.generated.selected = 
                Math.min(
                settings.generated.shown - 1, 
                settings.generated.selected + 1
            );//add 1 but make sure it doesn't go above the suggestion count
            
            ShowSelected(); //Show the selection highlight and put text into the searchbar
            break;
          default:
            if (settings.generated.original != $(this).val()) { //If it isn't up or down and the string is different then generate a new bunch of suggestions
                settings.generated.original == $(this).val();
                ShowResults($(this).val());
            }
            break;
      }
    });

    function ShowSelected() {
      $("#searchbox").val( //Make the search bar show the selected text
          settings.generated.results[Math.max(0, settings.generated.selected)].toLowerCase()
      );
      $(`.searchdropdown>.result`).removeClass("selected"); //remove selected effect from all
      $(`.searchdropdown>.result:nth-child(${settings.generated.selected+1})`).addClass("selected"); //add selected effect to one
    }

    $(document).on("click", ".searchdropdown>.result", function() { //On suggestion click
      $("#searchbox").val($(this).attr("plain"));
      ShowResults($(this).attr("plain"));
    });

    function ShowResults(query) { //This will generate suggestions based on a query
      if (settings.generated.lock) return; //Don't pass if locked
      settings.generated.lock = true; //lock


      $.ajax({
      url: "/query",
      type: "PUT",
      cache: false,
      data: {"query": escape(query.replace(/ /g, '+'))},
      success: function(data) {
        // console.log("AJAX success: " + JSON.stringify(data))

        var result = []; //Just get the array of results

        $.each(data, (index, value) => {
           result.push(value.key)
        });
        

        // console.log("result: " + result)
        const regex = new RegExp(query, "i"); //Create a regex pattern of the query case insensitive
        const subst = `<b>${query}</b>`; //Replace the query with a bold query
        var html = ""; //blank html which will be appended
        var offset = 0; //offset if results are skipped
        settings.generated.results = []; //results that are listed
        for (var i = 0; i < Math.min(settings.maxShownResults, result.length) + offset; i++) 
          { //loop maxShownResults or less if there are less results available
            //for some reason there are many results which are the same word twice - this just ignores them
            if (result[i].toLowerCase().split(" ")[0] == result[i].toLowerCase().split(" ")[1] && result[i].toLowerCase().split(" ").length == 2) 
              {
                offset++; //allow for skipping one
              } else {
              settings.generated.results[settings.generated.results.length] = result[i]; //add result to list
              html +=
                  `<div class="result" plain="${result[i].toLowerCase()}">` +
                  result[i].toLowerCase().replace(regex, subst) +
                  `</div>`; //html for a suggestion
              }
          }
          settings.generated.shown = settings.generated.results.length //number of selections
          settings.generated.selected = -1; //reset selected
          $(".searchdropdown").html(html); //set html of dropdown to what was generated
        }
      })

      settings.generated.lock = false; //unlock

    }

      // $.ajax({
      //     url: `//suggestqueries.google.com/complete/search`, //Caution: this is not the official API but it is easy, this may break
      //     data: {
      //       client: "firefox", //odd behaviour with other clients
      //       ds: "yt",
      //       q: escape(query.replace(/ /g, '+'))
      //     },
      //     dataType: "jsonp", //JSONP
      //     Method: "GET",
      //     success: function(data) {
      //       var result = data[1]; //Just get the array of results
      //       const regex = new RegExp(query, "i"); //Create a regex pattern of the query case insensitive
      //       const subst = `<b>${query}</b>`; //Replace the query with a bold query
      //       var html = ""; //blank html which will be appended
      //       var offset = 0; //offset if results are skipped
      //       settings.generated.results = []; //results that are listed
      //       for (
      //           var i = 0;
      //           i < Math.min(settings.maxShownResults, result.length) + offset;
      //           i++
      //       ) { //loop maxShownResults or less if there are less results available
      //           //for some reason there are many results which are the same word twice - this just ignores them
      //           if (
      //             result[i].toLowerCase().split(" ")[0] ==
      //                 result[i].toLowerCase().split(" ")[1] &&
      //             result[i].toLowerCase().split(" ").length == 2
      //           ) {
      //             offset++; //allow for skipping one
      //           } else {
      //             settings.generated.results[settings.generated.results.length] = result[i]; //add result to list
      //             html +=
      //                 `<div class="result" plain="${result[i]}">` +
      //                 result[i].replace(regex, subst) +
      //                 `</div>`; //html for a suggestion
      //           }
      //       }
      //       settings.generated.shown = settings.generated.results.length //number of selections
      //       settings.generated.selected = -1; //reset selected
      //       $(".searchdropdown").html(html); //set html of dropdown to what was generated
      //     }
      // });
      
    // }


    jQuery(function($) {
      // Add en remove class on menu item hover  
      $('.big-nav > ul > li').mouseover(function(){
        $(this).addClass('show').siblings().removeClass('show');
      });
      
      // Get the minimum height the big-nav elemtn
      var min_height = 50;
      $('.big-nav > ul > li > ul').each(function(){
        var this_height = $(this).outerHeight();
        if (this_height > min_height) min_height = this_height;
      });
      $('.big-nav > ul, .nav .big-nav > ul > li > ul').css('min-height', min_height + 'px');
      
    });
  </script>